.new-result-info-form {
	border-style: solid;
	border-color: #30E3DF;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.new-result-info-form .button-container  {
	align-self: flex-end;
}

.new-result-info-form .button-container button  {
	margin: 0 3px;
}